<div class="carousel-wrapper" data-delay="{{ .Get "delay" }}">
    <div class="carousel-main-image">
        <div class="carousel">
            {{ $max_image_height := .Get "max_image_height" | default "auto" }}
            {{ $images := split (.Get "images") "," }}
            {{ range $i, $image := $images }}
            <div class="carousel-item" style="height: {{ $max_image_height }};">
                <img src="{{ trim $image " " }}" alt="Carousel Image" style="max-height: {{ $max_image_height }};">
            </div>
            {{ end }}
        </div>
        {{ if (gt (len $images) 1) }}
        <div class="carousel-nav">
            <button class="carousel-prev">&#10094;</button>
            <button class="carousel-next">&#10095;</button>
        </div>
        {{ end }}
    </div>
    {{ if (gt (len $images) 1) }}
    <div class="carousel-previews">
        {{ range (split (.Get "images") ",") }}
        <div class="preview-item">
            <img src="{{ trim . " " }}" alt="Preview Image">
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
